<header>
    <!-- Rutas Dashboard-->
    <ul class="listado-nav">
        <a href="/dashboard">
            <li class="links-header"><span>Listado</span></li>
        </a>
        
        <a href="/dashboard/consultar">
            <li class="links-header"><span>Consultar</span></li>
        </a>
        <a href="/dashboard/crear">
            <li class="links-header"><span>Crear</span></li>
        </a>
        
        <a href="/dashboard/modificar">
            <li class="links-header"><span>Modificar</span></li>
        </a>
        <a href="/dashboard/eliminar">
            <li class="links-header"><span>Eliminar</span></li>
        </a>
    </ul>

    <!-- Rutas de la API Rest-->
    <ul class="listado-nav listado-api">
        <a href="/api/products/">
            <li class="links-header"><span>API Reference productos</span></li>
        </a>
        
        <a href="/api/products/:id">
            <li class="links-header"><span>API Reference productos id</span></li>
        </a>
    </ul>

</header>